body {
    background-color: #4a4c51; /* Gray background */
    color: white; /* White text color for contrast */
    text-align: center; /* Center text */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Set a default font */
}

h1, h2, p {
    margin-top: 20px; /* Add some space at the top of headings and paragraphs */
}

form {
    display: inline-block; /* Center form on the page */
    margin-top: 20px;
}

label, input, button {
    display: block;
    margin: 10px auto;
}

input, button {
    padding: 8px;
    width: 80%; /* Set a reasonable width for inputs and buttons */
}
