body {
    margin: 0; /* Remove default margin to ensure full-width layout */
}

nav {
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure full width */
    padding: 10px 20px;
    box-sizing: border-box; /* Include padding in element's total */
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 10px; /* Space between links */
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ddd;
}

.nav-right {
    display: flex;
    font-weight: bold;
    font-family: "Arial Rounded MT Bold", monospace;
}

#site-name {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    font-family: 'Courier', monospace; /* Set font to Courier */
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start; /* Align items vertically on small screens */
        padding: 10px;
    }

    .nav-right {
        flex-direction: column; /* Stack links vertically */
        width: 100%;
    }

    .nav-right a {
        margin-left: 0; /* Reset margin for vertical layout */
        margin-bottom: 10px; /* Add space between stacked links */
        width: calc(100% - 20px); /* Full width with padding consideration */
        text-align: center; /* Center text in buttons */
    }
}
